.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.backgroundshowing {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.median {
  Background-color: #2c2c2c;
  color: #fff;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 15px;
  margin-top: -25px;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
  font-size: 16px;
}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundsetup {
  width: 100%;
  height: 500px;
  max-height: 500px;
  background-image: url("background.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: auto 140%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a:hover {
  background-color: lightblue;
}

@media(max-width:876px) {
  h6 {
    display: none;
  }

  .column {
    width: 100%;
  }
}
